<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Quotes serve as powerful</h2>
                <p class="text-white-50">
                    
Quotes serve as powerful tools in our communication and understanding of the world. 
They act as miniature capsules of wisdom, humor, and poignant observations that transcend time and culture. Firstly, quotes add credibility and authority to your own words. By referencing the insights of renowned thinkers, historical figures, or even popular cultural icons, you bolster your arguments with a sense of validation from outside sources.  Secondly, quotes offer eloquence. Sometimes, someone else has already expressed a complex idea or emotion in a way that resonates deeply, 
and using their words allows you to tap into that same power without having to find your own perfect phrasing.
                    <br/>
                    - understanding of the world -
                </p>
            </div>
        </div>
        <img class="img-fluid" src="public/img/bible.png" alt="..." />
    </div>
</section>