<header class="masthead">
    <div
      class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
    >
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h1 class="mx-auto my-0 text-uppercase">QUOTES DAILY</h1>
          <h2 class="text-white-50 mx-auto mt-4 mb-5" id="main-quotes">
            Get Quotes From Ninja-Api
          </h2>
          <button type="button" class="btn btn-primary mt-3" id="fetch-main">
            GET QUOTES
          </button>
        </div>
      </div>
    </div>
  </header>